projects/n8n-automation-pipelines/vizzy-command-bot-telegram.json
{
  "name": "Vizzy Command Bot - Telegram Interface",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Vizzy Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatId",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "userMessage",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "userName",
              "name": "userName",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://americanservicesar.app.n8n.cloud/webhook/b99158be-0a6e-4bcb-9470-ea92b459dc77/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatInput: $('Extract Message').item.json.userMessage, sessionId: 'telegram-' + $('Extract Message').item.json.chatId }) }}",
        "options": {}
      },
      "id": "http-request",
      "name": "Send to Vizzy Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Vizzy Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Send to Vizzy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Vizzy Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
