logs/api-calls/slack/slack_vizzy_wf_resp.json
{"name":"ASAR - Slack to Vizzy","nodes":[{"parameters":{"trigger":"message","channelId":["C0AQPHWL7V4"],"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[250,300],"credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"method":"POST","url":"https://americanservicesar.app.n8n.cloud/webhook/vizzy-from-slack","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"chatInput\": $json.text, \"slackUser\": $json.user, \"slackChannel\": $json.channel, \"slackTs\": $json.ts}) }}","options":{}},"id":"513ae300-9cf5-4405-847b-c10fc8c128fa","name":"Call Vizzy Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Slack Trigger').item.json.channel }}"},"messageType":"text","text":"={{ $json.output || $json.body?.output || 'Processing your request...' }}","otherOptions":{"thread_ts":"={{ $('Slack Trigger').item.json.ts }}"}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[650,300],"credentials":{"slackOAuth2Api":{"id":"lopIua3GVl7ESuOs","name":"Slack OAuth2 API"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Call Vizzy Webhook","type":"main","index":0}]]},"Call Vizzy Webhook":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"active":false,"versionId":"a18d5eac-3a12-4802-93cb-57690be2deb1","id":"LOt2w8e9eXvHMi5T","description":null,"staticData":null,"meta":null,"pinData":null,"activeVersionId":null,"updatedAt":"2026-04-05T03:10:51.309Z","createdAt":"2026-04-05T03:10:51.309Z","isArchived":false,"versionCounter":1,"triggerCount":0}