logs/api-calls/slack/slack_vizzy_fix_resp.json
{"updatedAt":"2026-04-05T03:19:11.087Z","createdAt":"2026-04-05T03:10:51.309Z","id":"LOt2w8e9eXvHMi5T","name":"ASAR - Slack to Vizzy","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AQPHWL7V4","mode":"list","cachedResultName":"vizzy-command"},"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[256,304],"webhookId":"15b2d168-ab84-42a9-83b1-15b23cc2ca17","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"JAYrzGWR8A0tCBzB"},"options":{},"inputData":"passthrough"},"id":"f1dc2ff9-75c2-41c3-a02e-a3d8f9db1264","name":"Execute Vizzy Agent","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[450,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Slack Trigger').item.json.channel }}"},"text":"={{ $json.output || $json.body?.output || 'Processing your request...' }}","otherOptions":{}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[656,304],"webhookId":"02e36167-550a-4e17-ba61-2b5f23ffe324","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Execute Vizzy Agent","type":"main","index":0}]]},"Execute Vizzy Agent":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"754810e3-16b6-4668-9699-ccf7497e9bb2","activeVersionId":"754810e3-16b6-4668-9699-ccf7497e9bb2","versionCounter":12,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2026-04-05T03:19:11.088Z","createdAt":"2026-04-05T03:19:11.088Z","versionId":"754810e3-16b6-4668-9699-ccf7497e9bb2","workflowId":"LOt2w8e9eXvHMi5T","nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AQPHWL7V4","mode":"list","cachedResultName":"vizzy-command"},"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[256,304],"webhookId":"15b2d168-ab84-42a9-83b1-15b23cc2ca17","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"JAYrzGWR8A0tCBzB"},"options":{},"inputData":"passthrough"},"id":"f1dc2ff9-75c2-41c3-a02e-a3d8f9db1264","name":"Execute Vizzy Agent","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[450,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Slack Trigger').item.json.channel }}"},"text":"={{ $json.output || $json.body?.output || 'Processing your request...' }}","otherOptions":{}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[656,304],"webhookId":"02e36167-550a-4e17-ba61-2b5f23ffe324","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Execute Vizzy Agent","type":"main","index":0}]]},"Execute Vizzy Agent":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"authors":"Anthony Sons","name":null,"description":null,"autosaved":false}}