logs/api-calls/slack/slack_session_resp.json
{"updatedAt":"2026-04-05T03:39:55.168Z","createdAt":"2026-04-05T03:10:51.309Z","id":"LOt2w8e9eXvHMi5T","name":"ASAR - Slack to Vizzy","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AQPHWL7V4","mode":"list","cachedResultName":"vizzy-command"},"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[256,304],"webhookId":"15b2d168-ab84-42a9-83b1-15b23cc2ca17","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"1a259918-cad7-4371-ab6d-09d1bebcecd2","name":"sessionId","value":"={{ 'slack-session-' + $json.user }}","type":"string"},{"id":"aacf4a85-fc31-426b-a021-dd188c2f1400","name":"action","value":"sendMessage","type":"string"},{"id":"3a664de2-1b71-400c-ad13-a51ef267b3d9","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"db40ac54-a012-4710-afe4-8e5313143eb1","name":"slackChannel","value":"={{ $json.channel }}","type":"string"},{"id":"3ef35a4d-d57f-480d-9d8c-bdb55271e356","name":"slackTs","value":"={{ $json.ts }}","type":"string"},{"id":"63519b90-0588-40ef-b6f4-5c71f11e2a3f","name":"slackUser","value":"={{ $json.user }}","type":"string"}]}},"id":"0bda0eee-7973-4828-9846-7a1bd7b3fca5","name":"Add Session ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300]},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"JAYrzGWR8A0tCBzB"},"options":{}},"id":"cfd780d5-22d9-4fdd-8591-8959f334dd00","name":"Run Vizzy Agent","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[650,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Add Session ID').item.json.slackChannel }}"},"text":"={{ $json.output || \"I processed your request but had trouble formatting the response. Please try again.\" }}","otherOptions":{"thread_ts":"={{ $('Add Session ID').item.json.slackTs }}"}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[850,300],"webhookId":"02e36167-550a-4e17-ba61-2b5f23ffe324","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Add Session ID","type":"main","index":0}]]},"Add Session ID":{"main":[[{"node":"Run Vizzy Agent","type":"main","index":0}]]},"Run Vizzy Agent":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"a460ab82-07c4-4449-a3b4-8d03302047bb","activeVersionId":"a460ab82-07c4-4449-a3b4-8d03302047bb","versionCounter":30,"triggerCount":1,"tags":[],"activeVersion":{"updatedAt":"2026-04-05T03:39:55.168Z","createdAt":"2026-04-05T03:39:55.168Z","versionId":"a460ab82-07c4-4449-a3b4-8d03302047bb","workflowId":"LOt2w8e9eXvHMi5T","nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AQPHWL7V4","mode":"list","cachedResultName":"vizzy-command"},"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[256,304],"webhookId":"15b2d168-ab84-42a9-83b1-15b23cc2ca17","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"1a259918-cad7-4371-ab6d-09d1bebcecd2","name":"sessionId","value":"={{ 'slack-session-' + $json.user }}","type":"string"},{"id":"aacf4a85-fc31-426b-a021-dd188c2f1400","name":"action","value":"sendMessage","type":"string"},{"id":"3a664de2-1b71-400c-ad13-a51ef267b3d9","name":"chatInput","value":"={{ $json.text }}","type":"string"},{"id":"db40ac54-a012-4710-afe4-8e5313143eb1","name":"slackChannel","value":"={{ $json.channel }}","type":"string"},{"id":"3ef35a4d-d57f-480d-9d8c-bdb55271e356","name":"slackTs","value":"={{ $json.ts }}","type":"string"},{"id":"63519b90-0588-40ef-b6f4-5c71f11e2a3f","name":"slackUser","value":"={{ $json.user }}","type":"string"}]}},"id":"0bda0eee-7973-4828-9846-7a1bd7b3fca5","name":"Add Session ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300]},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"JAYrzGWR8A0tCBzB"},"options":{}},"id":"cfd780d5-22d9-4fdd-8591-8959f334dd00","name":"Run Vizzy Agent","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[650,300]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Add Session ID').item.json.slackChannel }}"},"text":"={{ $json.output || \"I processed your request but had trouble formatting the response. Please try again.\" }}","otherOptions":{"thread_ts":"={{ $('Add Session ID').item.json.slackTs }}"}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[850,300],"webhookId":"02e36167-550a-4e17-ba61-2b5f23ffe324","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Add Session ID","type":"main","index":0}]]},"Add Session ID":{"main":[[{"node":"Run Vizzy Agent","type":"main","index":0}]]},"Run Vizzy Agent":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"authors":"Anthony Sons","name":null,"description":null,"autosaved":false}}