logs/api-calls/misc/n8n_error_handler.json
{"updatedAt":"2026-03-27T18:26:12.629Z","createdAt":"2026-03-18T22:03:45.629Z","id":"TL5bO1l7QCI3XIAm","name":"Error Handler - Self Healing AI","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,200],"id":"79a1c102-a942-4821-8720-69345703999d"},{"parameters":{"jsCode":"\nconst errData = $input.first().json;\nconst workflowId = errData.workflow?.id || 'unknown';\nconst workflowName = errData.workflow?.name || 'Unknown Workflow';\nconst errorMessage = errData.execution?.error?.message || 'Unknown error';\nconst errorStack = errData.execution?.error?.stack || '';\nconst lastNode = errData.execution?.lastNodeExecuted || 'Unknown';\nconst executionId = errData.execution?.id || 'unknown';\nconst executionMode = errData.execution?.mode || 'unknown';\n\nreturn [{\n  json: {\n    workflowId,\n    workflowName,\n    errorMessage,\n    errorStack,\n    lastNode,\n    executionId,\n    executionMode,\n    errorSummary: `Workflow \"${workflowName}\" (${workflowId}) failed at node \"${lastNode}\". Error: ${errorMessage}`\n  }\n}];\n"},"name":"Extract Error Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,200],"id":"a1b2c3d4-0001-0001-0001-000000000001"},{"parameters":{"method":"GET","url":"=https://americanservicesar.app.n8n.cloud/api/v1/workflows/{{$json.workflowId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MzYxYWZiNS1kZjFkLTQyZmItOWZjYi04MWI3NjEyODE3ZDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzI5Y2YzNjctOGQ1ZC00YTY3LWJjNzQtOWFhYjgzNDQzYjVlIiwiaWF0IjoxNzc0MjgxOTc0fQ.iwaNzR5zdjY81m6lS35p-Fm8SB0fluFv4-geWCK2jI8"}]},"options":{}},"name":"Fetch Failing Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,200],"id":"a1b2c3d4-0002-0002-0002-000000000002"},{"parameters":{"jsCode":"\n// Get error context from earlier in the chain\nconst allItems = $input.all();\nconst workflowJson = allItems[0].json;\n\n// Get error context from the first node's output (passed via $('Extract Error Info'))\nconst errorContext = $('Extract Error Info').first().json;\n\n// Only extract essential workflow parts to keep prompt manageable\nconst essentialWorkflow = {\n  id: workflowJson.id,\n  name: workflowJson.name,\n  nodes: workflowJson.nodes,\n  connections: workflowJson.connections,\n  settings: workflowJson.settings\n};\n\nconst prompt = `You are an expert n8n workflow repair specialist. A workflow has errored and you must fix it.\n\nERROR DETAILS:\n- Workflow: \"${errorContext.workflowName}\" (ID: ${errorContext.workflowId})\n- Failed at node: \"${errorContext.lastNode}\"\n- Error message: ${errorContext.errorMessage}\n- Stack trace: ${errorContext.errorStack?.substring(0, 500) || 'N/A'}\n\nCURRENT WORKFLOW JSON:\n${JSON.stringify(essentialWorkflow, null, 2).substring(0, 8000)}\n\nYOUR TASK:\n1. Analyze the error and identify the root cause\n2. Fix the issue in the workflow nodes/connections\n3. Return ONLY a valid JSON object with this exact structure:\n{\n  \"analysis\": \"Brief explanation of what was wrong\",\n  \"fix_applied\": \"Brief description of what you fixed\",\n  \"nodes\": [...fixed nodes array...],\n  \"connections\": {...fixed connections...}\n}\n\nIMPORTANT: The nodes and connections arrays must be complete and valid n8n workflow format.`;\n\nreturn [{ json: { \n  prompt, \n  workflowId: errorContext.workflowId,\n  workflowName: errorContext.workflowName,\n  errorMessage: errorContext.errorMessage,\n  lastNode: errorContext.lastNode\n}}];\n"},"name":"Prepare Fix Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,200],"id":"a1b2c3d4-0003-0003-0003-000000000003"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.anthropicApi.apiKey }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"user\", \n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}","options":{"timeout":120000}},"name":"Claude - Analyze and Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,200],"id":"a1b2c3d4-0004-0004-0004-000000000004","credentials":{"anthropicApi":{"id":"MGVdxOb43c7vfSd2","name":"Anthropic account"}}},{"parameters":{"jsCode":"\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\n// Extract JSON from Claude's response\nlet fixData;\ntry {\n  // Try to find JSON block in response\n  const jsonMatch = content.match(/\\{[\\s\\S]*\"nodes\"[\\s\\S]*\"connections\"[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    fixData = JSON.parse(jsonMatch[0]);\n  } else {\n    fixData = JSON.parse(content);\n  }\n} catch(e) {\n  // If parsing fails, return error info\n  return [{ json: { \n    success: false, \n    error: 'Could not parse Claude response: ' + e.message,\n    rawResponse: content.substring(0, 500)\n  }}];\n}\n\n// Get context from previous nodes\nconst context = $('Prepare Fix Prompt').first().json;\n\nreturn [{ json: {\n  success: true,\n  workflowId: context.workflowId,\n  workflowName: context.workflowName,\n  analysis: fixData.analysis || 'Analysis not provided',\n  fix_applied: fixData.fix_applied || 'Fix not described',\n  nodes: fixData.nodes,\n  connections: fixData.connections,\n  originalError: context.errorMessage\n}}];\n"},"name":"Parse Claude Fix","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"id":"a1b2c3d4-0005-0005-0005-000000000005"},{"parameters":{"method":"PUT","url":"=https://americanservicesar.app.n8n.cloud/api/v1/workflows/{{$json.workflowId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MzYxYWZiNS1kZjFkLTQyZmItOWZjYi04MWI3NjEyODE3ZDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzI5Y2YzNjctOGQ1ZC00YTY3LWJjNzQtOWFhYjgzNDQzYjVlIiwiaWF0IjoxNzc0MjgxOTc0fQ.iwaNzR5zdjY81m6lS35p-Fm8SB0fluFv4-geWCK2jI8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": {{ JSON.stringify($json.workflowName) }},\n  \"nodes\": {{ JSON.stringify($json.nodes) }},\n  \"connections\": {{ JSON.stringify($json.connections) }},\n  \"settings\": {\"executionOrder\": \"v1\"}\n}","options":{}},"name":"Apply Workflow Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,200],"id":"a1b2c3d4-0006-0006-0006-000000000006"},{"parameters":{"method":"POST","url":"=https://americanservicesar.app.n8n.cloud/api/v1/workflows/{{$('Parse Claude Fix').first().json.workflowId}}/activate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MzYxYWZiNS1kZjFkLTQyZmItOWZjYi04MWI3NjEyODE3ZDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzI5Y2YzNjctOGQ1ZC00YTY3LWJjNzQtOWFhYjgzNDQzYjVlIiwiaWF0IjoxNzc0MjgxOTc0fQ.iwaNzR5zdjY81m6lS35p-Fm8SB0fluFv4-geWCK2jI8"}]},"options":{}},"name":"Republish Fixed Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,200],"id":"a1b2c3d4-0007-0007-0007-000000000007"},{"parameters":{"jsCode":"\nconst fixData = $('Parse Claude Fix').first().json;\nconst republishResult = $input.first().json;\n\nconst status = republishResult.active ? '✅ Auto-fixed and republished' : '⚠️ Fix applied but republish status unknown';\n\nreturn [{ json: {\n  notification: `🔧 *ASAR Auto-Heal Triggered*\\n\\n*Workflow:* ${fixData.workflowName}\\n*Status:* ${status}\\n*Root Cause:* ${fixData.analysis}\\n*Fix Applied:* ${fixData.fix_applied}\\n*Original Error:* ${fixData.originalError}`,\n  workflowName: fixData.workflowName,\n  status,\n  analysis: fixData.analysis\n}}];\n"},"name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,200],"id":"a1b2c3d4-0008-0008-0008-000000000008"}],"connections":{"Error Trigger":{"main":[[{"node":"Extract Error Info","type":"main","index":0}]]},"Extract Error Info":{"main":[[{"node":"Fetch Failing Workflow","type":"main","index":0}]]},"Fetch Failing Workflow":{"main":[[{"node":"Prepare Fix Prompt","type":"main","index":0}]]},"Prepare Fix Prompt":{"main":[[{"node":"Claude - Analyze and Fix","type":"main","index":0}]]},"Claude - Analyze and Fix":{"main":[[{"node":"Parse Claude Fix","type":"main","index":0}]]},"Parse Claude Fix":{"main":[[{"node":"Apply Workflow Fix","type":"main","index":0}]]},"Apply Workflow Fix":{"main":[[{"node":"Republish Fixed Workflow","type":"main","index":0}]]},"Republish Fixed Workflow":{"main":[[{"node":"Build Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","activeVersionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","versionCounter":15,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T22:03:45.631Z","createdAt":"2026-03-18T22:03:45.631Z","role":"workflow:owner","workflowId":"TL5bO1l7QCI3XIAm","projectId":"2yXsmMZujZTPWv3T","project":{"updatedAt":"2026-03-05T22:02:05.524Z","createdAt":"2026-03-05T22:01:59.407Z","id":"2yXsmMZujZTPWv3T","name":"Anthony Sons <sales@americanservicesar.com>","type":"personal","icon":null,"description":null,"creatorId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T16:41:08.048Z","createdAt":"2026-03-24T16:41:08.048Z","versionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","workflowId":"TL5bO1l7QCI3XIAm","nodes":[{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,200],"id":"79a1c102-a942-4821-8720-69345703999d"},{"parameters":{"jsCode":"\nconst errData = $input.first().json;\nconst workflowId = errData.workflow?.id || 'unknown';\nconst workflowName = errData.workflow?.name || 'Unknown Workflow';\nconst errorMessage = errData.execution?.error?.message || 'Unknown error';\nconst errorStack = errData.execution?.error?.stack || '';\nconst lastNode = errData.execution?.lastNodeExecuted || 'Unknown';\nconst executionId = errData.execution?.id || 'unknown';\nconst executionMode = errData.execution?.mode || 'unknown';\n\nreturn [{\n  json: {\n    workflowId,\n    workflowName,\n    errorMessage,\n    errorStack,\n    lastNode,\n    executionId,\n    executionMode,\n    errorSummary: `Workflow \"${workflowName}\" (${workflowId}) failed at node \"${lastNode}\". Error: ${errorMessage}`\n  }\n}];\n"},"name":"Extract Error Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,200],"id":"a1b2c3d4-0001-0001-0001-000000000001"},{"parameters":{"method":"GET","url":"=https://americanservicesar.app.n8n.cloud/api/v1/workflows/{{$json.workflowId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MzYxYWZiNS1kZjFkLTQyZmItOWZjYi04MWI3NjEyODE3ZDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzI5Y2YzNjctOGQ1ZC00YTY3LWJjNzQtOWFhYjgzNDQzYjVlIiwiaWF0IjoxNzc0MjgxOTc0fQ.iwaNzR5zdjY81m6lS35p-Fm8SB0fluFv4-geWCK2jI8"}]},"options":{}},"name":"Fetch Failing Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,200],"id":"a1b2c3d4-0002-0002-0002-000000000002"},{"parameters":{"jsCode":"\n// Get error context from earlier in the chain\nconst allItems = $input.all();\nconst workflowJson = allItems[0].json;\n\n// Get error context from the first node's output (passed via $('Extract Error Info'))\nconst errorContext = $('Extract Error Info').first().json;\n\n// Only extract essential workflow parts to keep prompt manageable\nconst essentialWorkflow = {\n  id: workflowJson.id,\n  name: workflowJson.name,\n  nodes: workflowJson.nodes,\n  connections: workflowJson.connections,\n  settings: workflowJson.settings\n};\n\nconst prompt = `You are an expert n8n workflow repair specialist. A workflow has errored and you must fix it.\n\nERROR DETAILS:\n- Workflow: \"${errorContext.workflowName}\" (ID: ${errorContext.workflowId})\n- Failed at node: \"${errorContext.lastNode}\"\n- Error message: ${errorContext.errorMessage}\n- Stack trace: ${errorContext.errorStack?.substring(0, 500) || 'N/A'}\n\nCURRENT WORKFLOW JSON:\n${JSON.stringify(essentialWorkflow, null, 2).substring(0, 8000)}\n\nYOUR TASK:\n1. Analyze the error and identify the root cause\n2. Fix the issue in the workflow nodes/connections\n3. Return ONLY a valid JSON object with this exact structure:\n{\n  \"analysis\": \"Brief explanation of what was wrong\",\n  \"fix_applied\": \"Brief description of what you fixed\",\n  \"nodes\": [...fixed nodes array...],\n  \"connections\": {...fixed connections...}\n}\n\nIMPORTANT: The nodes and connections arrays must be complete and valid n8n workflow format.`;\n\nreturn [{ json: { \n  prompt, \n  workflowId: errorContext.workflowId,\n  workflowName: errorContext.workflowName,\n  errorMessage: errorContext.errorMessage,\n  lastNode: errorContext.lastNode\n}}];\n"},"name":"Prepare Fix Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,200],"id":"a1b2c3d4-0003-0003-0003-000000000003"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.anthropicApi.apiKey }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"user\", \n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}","options":{"timeout":120000}},"name":"Claude - Analyze and Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,200],"id":"a1b2c3d4-0004-0004-0004-000000000004","credentials":{"anthropicApi":{"id":"MGVdxOb43c7vfSd2","name":"Anthropic account"}}},{"parameters":{"jsCode":"\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\n// Extract JSON from Claude's response\nlet fixData;\ntry {\n  // Try to find JSON block in response\n  const jsonMatch = content.match(/\\{[\\s\\S]*\"nodes\"[\\s\\S]*\"connections\"[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    fixData = JSON.parse(jsonMatch[0]);\n  } else {\n    fixData = JSON.parse(content);\n  }\n} catch(e) {\n  // If parsing fails, return error info\n  return [{ json: { \n    success: false, \n    error: 'Could not parse Claude response: ' + e.message,\n    rawResponse: content.substring(0, 500)\n  }}];\n}\n\n// Get context from previous nodes\nconst context = $('Prepare Fix Prompt').first().json;\n\nreturn [{ json: {\n  success: true,\n  workflowId: context.workflowId,\n  workflowName: context.workflowName,\n  analysis: fixData.analysis || 'Analysis not provided',\n  fix_applied: fixData.fix_applied || 'Fix not described',\n  nodes: fixData.nodes,\n  connections: fixData.connections,\n  originalError: context.errorMessage\n}}];\n"},"name":"Parse Claude Fix","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"id":"a1b2c3d4-0005-0005-0005-000000000005"},{"parameters":{"method":"PUT","url":"=https://americanservicesar.app.n8n.cloud/api/v1/workflows/{{$json.workflowId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MzYxYWZiNS1kZjFkLTQyZmItOWZjYi04MWI3NjEyODE3ZDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzI5Y2YzNjctOGQ1ZC00YTY3LWJjNzQtOWFhYjgzNDQzYjVlIiwiaWF0IjoxNzc0MjgxOTc0fQ.iwaNzR5zdjY81m6lS35p-Fm8SB0fluFv4-geWCK2jI8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": {{ JSON.stringify($json.workflowName) }},\n  \"nodes\": {{ JSON.stringify($json.nodes) }},\n  \"connections\": {{ JSON.stringify($json.connections) }},\n  \"settings\": {\"executionOrder\": \"v1\"}\n}","options":{}},"name":"Apply Workflow Fix","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,200],"id":"a1b2c3d4-0006-0006-0006-000000000006"},{"parameters":{"method":"POST","url":"=https://americanservicesar.app.n8n.cloud/api/v1/workflows/{{$('Parse Claude Fix').first().json.workflowId}}/activate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0MzYxYWZiNS1kZjFkLTQyZmItOWZjYi04MWI3NjEyODE3ZDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzI5Y2YzNjctOGQ1ZC00YTY3LWJjNzQtOWFhYjgzNDQzYjVlIiwiaWF0IjoxNzc0MjgxOTc0fQ.iwaNzR5zdjY81m6lS35p-Fm8SB0fluFv4-geWCK2jI8"}]},"options":{}},"name":"Republish Fixed Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,200],"id":"a1b2c3d4-0007-0007-0007-000000000007"},{"parameters":{"jsCode":"\nconst fixData = $('Parse Claude Fix').first().json;\nconst republishResult = $input.first().json;\n\nconst status = republishResult.active ? '✅ Auto-fixed and republished' : '⚠️ Fix applied but republish status unknown';\n\nreturn [{ json: {\n  notification: `🔧 *ASAR Auto-Heal Triggered*\\n\\n*Workflow:* ${fixData.workflowName}\\n*Status:* ${status}\\n*Root Cause:* ${fixData.analysis}\\n*Fix Applied:* ${fixData.fix_applied}\\n*Original Error:* ${fixData.originalError}`,\n  workflowName: fixData.workflowName,\n  status,\n  analysis: fixData.analysis\n}}];\n"},"name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,200],"id":"a1b2c3d4-0008-0008-0008-000000000008"}],"connections":{"Error Trigger":{"main":[[{"node":"Extract Error Info","type":"main","index":0}]]},"Extract Error Info":{"main":[[{"node":"Fetch Failing Workflow","type":"main","index":0}]]},"Fetch Failing Workflow":{"main":[[{"node":"Prepare Fix Prompt","type":"main","index":0}]]},"Prepare Fix Prompt":{"main":[[{"node":"Claude - Analyze and Fix","type":"main","index":0}]]},"Claude - Analyze and Fix":{"main":[[{"node":"Parse Claude Fix","type":"main","index":0}]]},"Parse Claude Fix":{"main":[[{"node":"Apply Workflow Fix","type":"main","index":0}]]},"Apply Workflow Fix":{"main":[[{"node":"Republish Fixed Workflow","type":"main","index":0}]]},"Republish Fixed Workflow":{"main":[[{"node":"Build Notification","type":"main","index":0}]]}},"authors":"Anthony Sons","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T16:41:08.194Z","id":18,"workflowId":"TL5bO1l7QCI3XIAm","versionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","event":"activated","userId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"},{"createdAt":"2026-03-27T18:26:12.784Z","id":21,"workflowId":"TL5bO1l7QCI3XIAm","versionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","event":"activated","userId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"},{"createdAt":"2026-03-24T16:41:08.123Z","id":17,"workflowId":"TL5bO1l7QCI3XIAm","versionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","event":"deactivated","userId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"},{"createdAt":"2026-03-27T18:26:12.699Z","id":20,"workflowId":"TL5bO1l7QCI3XIAm","versionId":"a40259d5-4f91-4b77-8854-2a46c6c26349","event":"deactivated","userId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"}]}}