logs/api-calls/misc/uma_import_payload.json
{"name": "ASAR Media - Create Doc Tool", "nodes": [{"parameters": {"workflowInputs": {"values": [{"name": "title"}, {"name": "content"}]}}, "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [-128, -96], "id": "374bfc33-a8fa-45f8-b848-5f9d22c1e874", "name": "When Executed by Another Workflow"}, {"parameters": {"folderId": "1dgxFHKKunJbtvJl7nDjqSddlG2UROu3E", "title": "={{ $json.title }}"}, "type": "n8n-nodes-base.googleDocs", "typeVersion": 2, "position": [80, -96], "id": "31e3f5a6-1db4-49f8-8795-1f7dd84d8ad8", "name": "Create a document", "credentials": {"googleDocsOAuth2Api": {"id": "dMFkHV4KEbioauC6", "name": "Google account"}}}, {"parameters": {"operation": "update", "documentURL": "={{ $json.id }}", "actionsUi": {"actionFields": [{"action": "insert", "text": "={{ $('When Executed by Another Workflow').item.json.content }}"}]}}, "type": "n8n-nodes-base.googleDocs", "typeVersion": 2, "position": [288, -96], "id": "889a2d26-9798-4e84-96ba-348263acae64", "name": "Update a document", "credentials": {"googleDocsOAuth2Api": {"id": "dMFkHV4KEbioauC6", "name": "Google account"}}}, {"parameters": {"assignments": {"assignments": [{"id": "5472c0d3-d715-4bab-bd49-e1b8e7b82750", "name": "response", "value": "=Your {{ $('When Executed by Another Workflow').item.json.title }} document has been created. \n\nHere is the link in Google drive: https://drive.google.com/file/d/{{ $json.documentId }}/view?usp=sharing", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [496, -96], "id": "eab29c46-f91b-4393-aebe-240a84e9129f", "name": "Edit Fields"}], "connections": {"When Executed by Another Workflow": {"main": [[{"node": "Create a document", "type": "main", "index": 0}]]}, "Create a document": {"main": [[{"node": "Update a document", "type": "main", "index": 0}]]}, "Update a document": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}