scripts/n8n-workflows/health_dates_fix.json
{"name":"ASAR - Gigi Daily Health Pull","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":0}]}},"id":"gigi-health-trigger","name":"Daily 6AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"const now = new Date();\n// Go back 48 hours to catch both yesterday and today data\nconst start = new Date(now);\nstart.setDate(start.getDate() - 2);\nstart.setHours(0, 0, 0, 0);\nconst end = new Date(now);\n// Label as today\nconst today = new Date(now);\nconst dateStr = today.toISOString().split(\"T\")[0];\nconst dayStr = today.toLocaleDateString(\"en-US\", { weekday: \"long\" });\nreturn [{\n  json: {\n    startMillis: start.getTime().toString(),\n    endMillis: end.getTime().toString(),\n    dateStr: dateStr,\n    dayStr: dayStr\n  }\n}];"},"id":"gigi-health-dates","name":"Yesterday Date Range","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ aggregateBy: [{ dataTypeName: 'com.google.sleep.segment' }], bucketByTime: { durationMillis: 172800000 }, startTimeMillis: parseInt($json.startMillis), endTimeMillis: parseInt($json.endMillis) }) }}"},"id":"gigi-health-sleep","name":"Get Sleep Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,160],"credentials":{"googleOAuth2Api":{"id":"dMFkHV4KEbioauC6","name":"Google account"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ aggregateBy: [{ dataTypeName: 'com.google.heart_rate.bpm' }], bucketByTime: { durationMillis: 86400000 }, startTimeMillis: parseInt($json.startMillis), endTimeMillis: parseInt($json.endMillis) }) }}","options":{}},"id":"gigi-health-hr","name":"Get Heart Rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,300],"credentials":{"googleOAuth2Api":{"id":"dMFkHV4KEbioauC6","name":"Google account"}}},{"parameters":{"method":"GET","url":"=https://www.googleapis.com/fitness/v1/users/me/sessions?startTime={{ new Date(parseInt($json.startMillis)).toISOString() }}&endTime={{ new Date(parseInt($json.endMillis)).toISOString() }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{}},"id":"gigi-health-exercise","name":"Get Exercise Sessions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,440],"credentials":{"googleOAuth2Api":{"id":"dMFkHV4KEbioauC6","name":"Google account"}}},{"parameters":{"mode":"append"},"id":"gigi-health-merge","name":"Merge Health Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[900,300]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst sleepItem = items[0]?.json || {};\nconst hrItem = items[1]?.json || {};\nconst exerciseItem = items[2]?.json || {};\n\nconst now = new Date();\nconst dateStr = now.toISOString().split(\"T\")[0];\nconst dayStr = now.toLocaleDateString(\"en-US\", { weekday: \"long\" });\n\n// Parse sleep from aggregate API\nlet sleepHours = \"—\";\nlet sleepQuality = \"—\";\ntry {\n  const buckets = sleepItem.bucket || [];\n  let totalSleepMs = 0;\n  let deepMs = 0;\n  let remMs = 0;\n  for (const b of buckets) {\n    for (const ds of (b.dataset || [])) {\n      for (const p of (ds.point || [])) {\n        const startMs = parseInt(p.startTimeNanos) / 1000000;\n        const endMs = parseInt(p.endTimeNanos) / 1000000;\n        const duration = endMs - startMs;\n        const sleepType = p.value?.[0]?.intVal;\n        // Google Fit sleep types: 1=awake, 2=sleep, 3=out-of-bed, 4=light, 5=deep, 6=REM\n        if (sleepType === 2 || sleepType === 4 || sleepType === 5 || sleepType === 6) {\n          totalSleepMs += duration;\n        }\n        if (sleepType === 5) deepMs += duration;\n        if (sleepType === 6) remMs += duration;\n      }\n    }\n  }\n  if (totalSleepMs > 0) {\n    sleepHours = (totalSleepMs / 3600000).toFixed(1);\n    // Quality based on deep+REM ratio\n    const deepRemRatio = (deepMs + remMs) / totalSleepMs;\n    const hrs = parseFloat(sleepHours);\n    let q = 5;\n    if (hrs >= 7) q += 1;\n    if (hrs >= 8) q += 1;\n    if (hrs < 6) q -= 2;\n    if (deepRemRatio > 0.4) q += 1;\n    if (deepRemRatio < 0.2) q -= 1;\n    sleepQuality = Math.min(10, Math.max(1, q)).toString();\n  }\n} catch(e) {}\n\n// Parse heart rate\nlet avgHR = \"—\";\nlet restingHR = \"—\";\ntry {\n  const buckets = hrItem.bucket || [];\n  for (const b of buckets) {\n    const dataset = b.dataset?.[0];\n    if (dataset?.point?.length > 0) {\n      let sum = 0, count = 0, min = 999;\n      for (const p of dataset.point) {\n        for (const v of p.value) {\n          if (v.fpVal) { sum += v.fpVal; count++; if (v.fpVal < min) min = v.fpVal; }\n        }\n      }\n      if (count > 0) avgHR = Math.round(sum / count).toString();\n      if (min < 999) restingHR = Math.round(min).toString();\n    }\n  }\n} catch(e) {}\n\n// Parse exercise\nlet exercise = \"None\";\ntry {\n  const sessions = exerciseItem.session || [];\n  const workouts = sessions.filter(s => s.activityType !== 72 && s.activityType !== 0 && s.activityType !== 109);\n  if (workouts.length > 0) {\n    exercise = workouts.map(w => {\n      const mins = Math.round((parseInt(w.endTimeMillis) - parseInt(w.startTimeMillis)) / 60000);\n      return mins + \"min \" + (w.name || \"workout\");\n    }).join(\", \");\n  }\n} catch(e) {}\n\n// Energy estimate\nlet energy = \"—\";\nif (sleepHours !== \"—\") {\n  const hrs = parseFloat(sleepHours);\n  let score = 5;\n  if (hrs >= 7) score += 2; else if (hrs >= 6) score += 1; else score -= 1;\n  if (restingHR !== \"—\") {\n    const rhr = parseInt(restingHR);\n    if (rhr < 60) score += 1; else if (rhr > 80) score -= 1;\n  }\n  energy = Math.min(10, Math.max(1, score)).toString();\n}\n\nreturn [{\n  json: {\n    Date: dateStr,\n    Day: dayStr,\n    \"Energy (1-10)\": energy,\n    \"Sleep Quality (1-10)\": sleepQuality,\n    \"Sleep Hours\": sleepHours,\n    \"CEO Time %\": \"—\",\n    \"Operator Time %\": \"—\",\n    \"Top 3 Priorities\": \"—\",\n    Wins: \"—\",\n    Blockers: \"—\",\n    Mood: \"—\",\n    Exercise: exercise,\n    \"Meals Quality (1-10)\": \"—\",\n    \"Coaching Notes\": \"Auto: Avg HR \" + avgHR + \", Resting HR \" + restingHR + \", Sleep \" + sleepHours + \"hrs\",\n    \"Action Items\": \"—\"\n  }\n}];"},"id":"gigi-health-process","name":"Process Health Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,300]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1Ew8CQib5kEVPB9CTAgjuJpjMJtW9xtvNTF-URS2ez6c"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"autoMapInputData","value":{}},"options":{}},"id":"gigi-health-sheet","name":"Append to Daily Brief","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1380,300],"credentials":{"googleSheetsOAuth2Api":{"id":"Tpo5kkkuG9qiBBvf","name":"Google Sheets OAuth2 API"}}}],"connections":{"Daily 6AM Trigger":{"main":[[{"node":"Yesterday Date Range","type":"main","index":0}]]},"Yesterday Date Range":{"main":[[{"node":"Get Sleep Data","type":"main","index":0},{"node":"Get Heart Rate","type":"main","index":0},{"node":"Get Exercise Sessions","type":"main","index":0}]]},"Get Sleep Data":{"main":[[{"node":"Merge Health Data","type":"main","index":0}]]},"Get Heart Rate":{"main":[[{"node":"Merge Health Data","type":"main","index":1}]]},"Get Exercise Sessions":{"main":[[{"node":"Merge Health Data","type":"main","index":2}]]},"Merge Health Data":{"main":[[{"node":"Process Health Data","type":"main","index":0}]]},"Process Health Data":{"main":[[{"node":"Append to Daily Brief","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}