scripts/n8n-workflows/health_wf_fix2.json
{"name":"ASAR - Gigi Daily Health Pull","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":0}]}},"id":"gigi-health-trigger","name":"Daily 6AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"const now = new Date();\nconst y = new Date(now);\ny.setDate(y.getDate() - 1);\ny.setHours(0, 0, 0, 0);\nconst e = new Date(y);\ne.setHours(23, 59, 59, 999);\nreturn [{\n  json: {\n    startMillis: y.getTime().toString(),\n    endMillis: e.getTime().toString(),\n    dateStr: y.toISOString().split(\"T\")[0],\n    dayStr: y.toLocaleDateString(\"en-US\", { weekday: \"long\" })\n  }\n}];"},"id":"gigi-health-dates","name":"Yesterday Date Range","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"=https://www.googleapis.com/fitness/v1/users/me/sessions?startTime={{ new Date(parseInt($json.startMillis)).toISOString() }}&endTime={{ new Date(parseInt($json.endMillis)).toISOString() }}&activityType=72","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{}},"id":"gigi-health-sleep","name":"Get Sleep Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,160],"credentials":{"googleOAuth2Api":{"id":"dMFkHV4KEbioauC6","name":"Google account"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ aggregateBy: [{ dataTypeName: 'com.google.heart_rate.bpm' }], bucketByTime: { durationMillis: 86400000 }, startTimeMillis: parseInt($json.startMillis), endTimeMillis: parseInt($json.endMillis) }) }}","options":{}},"id":"gigi-health-hr","name":"Get Heart Rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,300],"credentials":{"googleOAuth2Api":{"id":"dMFkHV4KEbioauC6","name":"Google account"}}},{"parameters":{"method":"GET","url":"=https://www.googleapis.com/fitness/v1/users/me/sessions?startTime={{ new Date(parseInt($json.startMillis)).toISOString() }}&endTime={{ new Date(parseInt($json.endMillis)).toISOString() }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{}},"id":"gigi-health-exercise","name":"Get Exercise Sessions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,440],"credentials":{"googleOAuth2Api":{"id":"dMFkHV4KEbioauC6","name":"Google account"}}},{"parameters":{"mode":"append"},"id":"gigi-health-merge","name":"Merge Health Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[900,300]},{"parameters":{"jsCode":"const items = .all();\n\n// Items are appended: index 0 = sleep, 1 = HR, 2 = exercise\nconst sleepItem = items[0]?.json || {};\nconst hrItem = items[1]?.json || {};\nconst exerciseItem = items[2]?.json || {};\n\n// Get date from the sleep response or calculate\nconst now = new Date();\nconst y = new Date(now);\ny.setDate(y.getDate() - 1);\nconst dateStr = y.toISOString().split('T')[0];\nconst dayStr = y.toLocaleDateString('en-US', { weekday: 'long' });\n\n// Parse sleep\nlet sleepHours = '—';\nlet sleepQuality = '—';\ntry {\n  const sessions = sleepItem.session || [];\n  let totalMs = 0;\n  for (const s of sessions) {\n    if (s.activityType === 72) {\n      totalMs += parseInt(s.endTimeMillis) - parseInt(s.startTimeMillis);\n    }\n  }\n  if (totalMs > 0) {\n    sleepHours = (totalMs / 3600000).toFixed(1);\n    const hrs = parseFloat(sleepHours);\n    if (hrs >= 7.5) sleepQuality = '8';\n    else if (hrs >= 7) sleepQuality = '7';\n    else if (hrs >= 6) sleepQuality = '6';\n    else if (hrs >= 5) sleepQuality = '4';\n    else sleepQuality = '2';\n  }\n} catch(e) {}\n\n// Parse heart rate\nlet avgHR = '—';\nlet restingHR = '—';\ntry {\n  const buckets = hrItem.bucket || [];\n  if (buckets.length > 0) {\n    const dataset = buckets[0]?.dataset?.[0];\n    if (dataset?.point?.length > 0) {\n      let sum = 0, count = 0, min = 999;\n      for (const p of dataset.point) {\n        for (const v of p.value) {\n          if (v.fpVal) { sum += v.fpVal; count++; if (v.fpVal < min) min = v.fpVal; }\n        }\n      }\n      avgHR = count > 0 ? Math.round(sum / count).toString() : '—';\n      restingHR = min < 999 ? Math.round(min).toString() : '—';\n    }\n  }\n} catch(e) {}\n\n// Parse exercise\nlet exercise = 'None';\ntry {\n  const sessions = exerciseItem.session || [];\n  const workouts = sessions.filter(s => s.activityType !== 72 && s.activityType !== 0);\n  if (workouts.length > 0) {\n    exercise = workouts.map(w => {\n      const mins = Math.round((parseInt(w.endTimeMillis) - parseInt(w.startTimeMillis)) / 60000);\n      return mins + 'min ' + (w.name || 'workout');\n    }).join(', ');\n  }\n} catch(e) {}\n\n// Energy estimate\nlet energy = '—';\nif (sleepHours !== '—') {\n  const hrs = parseFloat(sleepHours);\n  let score = 5;\n  if (hrs >= 7) score += 2; else if (hrs >= 6) score += 1; else score -= 1;\n  if (restingHR !== '—') {\n    const rhr = parseInt(restingHR);\n    if (rhr < 60) score += 1; else if (rhr > 80) score -= 1;\n  }\n  energy = Math.min(10, Math.max(1, score)).toString();\n}\n\nreturn [{\n  json: {\n    Date: dateStr,\n    Day: dayStr,\n    'Energy (1-10)': energy,\n    'Sleep Quality (1-10)': sleepQuality,\n    'Sleep Hours': sleepHours,\n    'CEO Time %': '—',\n    'Operator Time %': '—',\n    'Top 3 Priorities': '—',\n    Wins: '—',\n    Blockers: '—',\n    Mood: '—',\n    Exercise: exercise,\n    'Meals Quality (1-10)': '—',\n    'Coaching Notes': 'Auto: Avg HR ' + avgHR + ', Resting HR ' + restingHR + ', Sleep ' + sleepHours + 'hrs',\n    'Action Items': '—'\n  }\n}];"},"id":"gigi-health-process","name":"Process Health Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,300]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1Ew8CQib5kEVPB9CTAgjuJpjMJtW9xtvNTF-URS2ez6c"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"autoMapInputData","value":{}},"options":{}},"id":"gigi-health-sheet","name":"Append to Daily Brief","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1380,300],"credentials":{"googleSheetsOAuth2Api":{"id":"Tpo5kkkuG9qiBBvf","name":"Google Sheets OAuth2 API"}}}],"connections":{"Daily 6AM Trigger":{"main":[[{"node":"Yesterday Date Range","type":"main","index":0}]]},"Yesterday Date Range":{"main":[[{"node":"Get Sleep Data","type":"main","index":0},{"node":"Get Heart Rate","type":"main","index":0},{"node":"Get Exercise Sessions","type":"main","index":0}]]},"Get Sleep Data":{"main":[[{"node":"Merge Health Data","type":"main","index":0}]]},"Get Heart Rate":{"main":[[{"node":"Merge Health Data","type":"main","index":1}]]},"Get Exercise Sessions":{"main":[[{"node":"Merge Health Data","type":"main","index":2}]]},"Merge Health Data":{"main":[[{"node":"Process Health Data","type":"main","index":0}]]},"Process Health Data":{"main":[[{"node":"Append to Daily Brief","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}