scripts/n8n-workflows/mover_wf.json
{"updatedAt":"2026-04-06T00:43:16.933Z","createdAt":"2026-04-06T00:43:16.933Z","id":"Q17xBd9qC1w4l1zV","name":"ASAR - Move Files to Shared Drives (v2)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"mv2-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"operation":"createFolder","name":"Agent Reference Docs","driveId":{"__rl":true,"mode":"id","value":"0ABL9AE3k6__lUk9PVA"},"folderId":{"__rl":true,"mode":"id","value":"0ABL9AE3k6__lUk9PVA"},"options":{}},"id":"mv2-create-folder","name":"Create Agent Docs Folder in OFFICE","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,300],"credentials":{"googleDriveOAuth2Api":{"id":"Hu80FNVrNnpo62Fj","name":"Google Drive account"}}},{"parameters":{"jsCode":"const folderId = $input.first().json.id;\n\nconst docIds = [\n  '1RbBAnWk9ZQ94nkHpYSDFh6abZzPuueoU5h9ZhLwa15g',\n  '1mlSND_6267cHl5EQxuryYuckofzJvR5TNpBiW1CFgBw',\n  '1VRqostHSLEnfevIwJlwxrZZBKBnkQzYFuOkpK6_b_rc',\n  '1pOMnU5pmEC5Va8r9sttL5qkXhftEapSPYl4FcoKyUEQ',\n  '17ATgIvc6BbyObCcMNhyroOJCbobR-AVnqxgiTLBHi_E',\n  '1a3BQSRWioxrHqt8Nqc_uhsoY0opIIIeujAZL4LLfkMA',\n  '1_eECzh4Ok7Eni-maCzLXKQI5EKpqxfcom6pE-DAJSZM',\n  '19uEvSscbFCW29v0daOQ-Ugj5SS_A933hWdVy4i-BQas',\n  '1uGoEFFL1IlfaX4lLvmC--mefmALgOMgytoxXSnWnKX4',\n  '1BVREqnq_COBJdq5WX_aAy3HAdlD8C_Z4eqnMMsPCGvQ',\n  '1FBJ9fSvQL5VHzg5wJXPQToJ6KvHq-IO3k6x7LpIYjQo',\n  '1wJFQYAM3AY264VwHy9RhKEwRSSP2CsxThuXfdc31srs',\n  '1Ew8CQib5kEVPB9CTAgjuJpjMJtW9xtvNTF-URS2ez6c',\n  '1vylAehFJJXj1IPtdpxh_alMPTPi-DkcsmU4tp3oWodE'\n];\n\nreturn docIds.map(id => ({ json: { fileId: id, folderId: folderId } }));"},"id":"mv2-list-files","name":"List Files to Move","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $json.fileId }}"},"driveId":{"__rl":true,"mode":"id","value":"0ABL9AE3k6__lUk9PVA"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.folderId }}"},"options":{}},"id":"mv2-move-files","name":"Move Each File to OFFICE","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[920,300],"credentials":{"googleDriveOAuth2Api":{"id":"Hu80FNVrNnpo62Fj","name":"Google Drive account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Create Agent Docs Folder in OFFICE","type":"main","index":0}]]},"Create Agent Docs Folder in OFFICE":{"main":[[{"node":"List Files to Move","type":"main","index":0}]]},"List Files to Move":{"main":[[{"node":"Move Each File to OFFICE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"649c409f-80df-4226-a35a-6c912c7615f1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-04-06T00:43:16.934Z","createdAt":"2026-04-06T00:43:16.934Z","role":"workflow:owner","workflowId":"Q17xBd9qC1w4l1zV","projectId":"2yXsmMZujZTPWv3T","project":{"updatedAt":"2026-03-05T22:02:05.524Z","createdAt":"2026-03-05T22:01:59.407Z","id":"2yXsmMZujZTPWv3T","name":"Anthony Sons <sales@americanservicesar.com>","type":"personal","icon":null,"description":null,"creatorId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"}}],"tags":[],"activeVersion":null}