scripts/n8n-workflows/mover_fix.json
{"name":"ASAR - Move Files to OFFICE Drive (one-time)","nodes":[{"parameters":{},"id":"mv3-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"jsCode":"const files = [\n  \"1RbBAnWk9ZQ94nkHpYSDFh6abZzPuueoU5h9ZhLwa15g\",\n  \"1mlSND_6267cHl5EQxuryYuckofzJvR5TNpBiW1CFgBw\",\n  \"1VRqostHSLEnfevIwJlwxrZZBKBnkQzYFuOkpK6_b_rc\",\n  \"1pOMnU5pmEC5Va8r9sttL5qkXhftEapSPYl4FcoKyUEQ\",\n  \"17ATgIvc6BbyObCcMNhyroOJCbobR-AVnqxgiTLBHi_E\",\n  \"1a3BQSRWioxrHqt8Nqc_uhsoY0opIIIeujAZL4LLfkMA\",\n  \"1_eECzh4Ok7Eni-maCzLXKQI5EKpqxfcom6pE-DAJSZM\",\n  \"19uEvSscbFCW29v0daOQ-Ugj5SS_A933hWdVy4i-BQas\",\n  \"1uGoEFFL1IlfaX4lLvmC--mefmALgOMgytoxXSnWnKX4\",\n  \"1BVREqnq_COBJdq5WX_aAy3HAdlD8C_Z4eqnMMsPCGvQ\",\n  \"1FBJ9fSvQL5VHzg5wJXPQToJ6KvHq-IO3k6x7LpIYjQo\",\n  \"1wJFQYAM3AY264VwHy9RhKEwRSSP2CsxThuXfdc31srs\",\n  \"1Ew8CQib5kEVPB9CTAgjuJpjMJtW9xtvNTF-URS2ez6c\",\n  \"1vylAehFJJXj1IPtdpxh_alMPTPi-DkcsmU4tp3oWodE\"\n];\nreturn files.map(id => ({ json: { fileId: id } }));"},"id":"mv3-list","name":"List All Files","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300]},{"parameters":{"resource":"file","operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $json.fileId }}"},"driveId":{"__rl":true,"mode":"id","value":"0ABL9AE3k6__lUk9PVA"},"folderId":{"__rl":true,"mode":"id","value":"0ABL9AE3k6__lUk9PVA"},"options":{}},"id":"mv3-move","name":"Move to OFFICE Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[680,300],"credentials":{"googleDriveOAuth2Api":{"id":"Hu80FNVrNnpo62Fj","name":"Google Drive account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"List All Files","type":"main","index":0}]]},"List All Files":{"main":[[{"node":"Move to OFFICE Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}