scripts/n8n-workflows/slack_vizzy_wf_current.json
{"updatedAt":"2026-04-05T03:17:27.367Z","createdAt":"2026-04-05T03:10:51.309Z","id":"LOt2w8e9eXvHMi5T","name":"ASAR - Slack to Vizzy","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AQPHWL7V4","mode":"list","cachedResultName":"vizzy-command"},"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[256,304],"webhookId":"15b2d168-ab84-42a9-83b1-15b23cc2ca17","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"method":"POST","url":"https://americanservicesar.app.n8n.cloud/webhook/vizzy-from-slack","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"chatInput\": $json.text, \"slackUser\": $json.user, \"slackChannel\": $json.channel, \"slackTs\": $json.ts}) }}","options":{}},"id":"513ae300-9cf5-4405-847b-c10fc8c128fa","name":"Call Vizzy Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Slack Trigger').item.json.channel }}"},"text":"={{ $json.output || $json.body?.output || 'Processing your request...' }}","otherOptions":{}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[656,304],"webhookId":"02e36167-550a-4e17-ba61-2b5f23ffe324","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Call Vizzy Webhook","type":"main","index":0}]]},"Call Vizzy Webhook":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"e1075223-bdb7-4f70-b97a-dd3ff84eed50","activeVersionId":"e1075223-bdb7-4f70-b97a-dd3ff84eed50","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-04-05T03:10:51.311Z","createdAt":"2026-04-05T03:10:51.311Z","role":"workflow:owner","workflowId":"LOt2w8e9eXvHMi5T","projectId":"2yXsmMZujZTPWv3T","project":{"updatedAt":"2026-03-05T22:02:05.524Z","createdAt":"2026-03-05T22:01:59.407Z","id":"2yXsmMZujZTPWv3T","name":"Anthony Sons <sales@americanservicesar.com>","type":"personal","icon":null,"description":null,"creatorId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-05T03:16:52.000Z","createdAt":"2026-04-05T03:16:03.892Z","versionId":"e1075223-bdb7-4f70-b97a-dd3ff84eed50","workflowId":"LOt2w8e9eXvHMi5T","nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AQPHWL7V4","mode":"list","cachedResultName":"vizzy-command"},"options":{}},"id":"d5f5a54c-628a-4991-9f3d-cb9af4f27f91","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[256,304],"webhookId":"15b2d168-ab84-42a9-83b1-15b23cc2ca17","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}},{"parameters":{"method":"POST","url":"https://americanservicesar.app.n8n.cloud/webhook/vizzy-from-slack","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"chatInput\": $json.text, \"slackUser\": $json.user, \"slackChannel\": $json.channel, \"slackTs\": $json.ts}) }}","options":{}},"id":"513ae300-9cf5-4405-847b-c10fc8c128fa","name":"Call Vizzy Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Slack Trigger').item.json.channel }}"},"text":"={{ $json.output || $json.body?.output || 'Processing your request...' }}","otherOptions":{}},"id":"65db1ae3-60a6-409f-81f1-7e2485b691f4","name":"Reply in Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[656,304],"webhookId":"02e36167-550a-4e17-ba61-2b5f23ffe324","credentials":{"slackApi":{"id":"6yUg4MuD1ruBxZQY","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"Call Vizzy Webhook","type":"main","index":0}]]},"Call Vizzy Webhook":{"main":[[{"node":"Reply in Slack","type":"main","index":0}]]}},"authors":"Anthony Sons","name":"Version e1075223","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-05T03:16:52.018Z","id":132,"workflowId":"LOt2w8e9eXvHMi5T","versionId":"e1075223-bdb7-4f70-b97a-dd3ff84eed50","event":"activated","userId":"4361afb5-df1d-42fb-9fcb-81b7612817d8"}]}}